* {
    font-family: "Radio Canada Big", sans-serif;
}

body {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.77),
            rgba(255, 255, 255, 0.77)
        ),
        url("/img/Fondo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#panelControl {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    max-width: 6%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fe5f55;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

#listaIdiomas,
#menuPaginas,
#redesSociales,
#nombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 17px;
    cursor: pointer;
    transition: all 0.5s;
}

#redesSociales,
#listaIdiomas {
    gap: 0 !important;
}

#redesSociales a,
#listaIdiomas a {
    width: 90%;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}

#nombre {
    font-size: 15px;
    font-weight: bold;
}

#listaIdiomas a:hover,
#redesSociales a svg:hover,
#nombre:hover {
    transition: all 0.5s;
    color: beige;
    stroke: beige;
    transform: translateY(3px);
    transform: scale(1.05);
}

#contInformacion {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-left: 5%;
    right: 0;
    color: #c62e2e;
    font-weight: normal;
    font-size: 19px;
}

/***********SOBRE MI************/
#sobreMi {
    display: flex;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sobreMi_part1 {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin: auto;
    text-align: left;
    padding: 0;
    font-size: 120%;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

#sobreMi img {
    width: 300px;
    padding: 20px;
}

#sobreMi p {
    text-align: center;
    margin: 12% 9% 0 9%;
    font-size: 100%;
}

#sobreMi button {
    font-family: "Borel", cursive;
    max-width: 180px;
    max-height: 60px;
    background-color: #fe5f55;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    border: 2px solid #fe5f55;
    cursor: pointer;
    transition: all 0.3s;
    margin: 3% auto -2% auto;
    padding: 2%;
}

#sobreMi button:hover {
    transition: all 0.3s;
    background-color: #fd746a;
    color: beige;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-5px);
}

/**************cualidades*************/
#cualidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cualidades > h2 {
    font-family: "Borel", cursive;
    font-size: 200%;
    text-align: center;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

#cualidades > p {
    font-size: 100%;
    font-weight: normal;
    margin: 5% 10%;
}

#cualidadesFocus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin: 5% 15%;
    gap: 30px;
    font-size: 100%;
}

.cualidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    padding: 0 3%;
}

.cualidad > img {
    width: 150px;
    padding: 20px;
}
